
/* * symbol does not always follow top down correction */
* {
    color: black;
 }

div {
    color: red;
    background-color: rgb(231, 231, 231);
}

/* classes require period before starting */


.firstDiv {
    color: blue;
}

.secondDiv {
    background-color: gold;
}

/* ID's require # symbol */

 #singledout {
    color: green;
    text-decoration: line-through;
 }

 h3 + ul {
    border: 4px dotted blue ;
 }

 li a{
    color: red;
 }

 #hkr {
    color: green;
 }

  
 li a[href="www.github.com"] {
    color: blueviolet;
 }