/*
selected tag {
    properties: value;
*/

body {
    background-color: rgb(162, 162, 162);
}

body {
    background: url('https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1920-80.jpg.webp');
}


div {
   background-color: rgb(179, 54, 54);
   border-color: blue;
   border-width: 10px;
   border-style: dotted;
}

p {
    color: yellow;
}

span {
    background: blue;
    color: rgb(182, 182, 182);
}